.flex {
    display: flex;
}

.full-width {
    width: 100%;
}

.info-box {
    background: rgba($warning, 0.2);
    border: 1px solid $warning;
    border-radius: 10px;
    padding: 15px;
    font-size: 12px;
    margin-top: 20px;
}

.no-mt {
    margin-top: 0 !important;
}